[defaults]
inventory          = inventory.ini
remote_user        = ubuntu
private_key_file   = ../MC-Key.pem
host_key_checking  = False
retry_files_enabled = False

[ssh_connection]
# Reduce connection overhead
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
